@font-face {
  font-family: "NotoSansJP";
  src: url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff2)
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  font-family: "NotoSansJP", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 17px;
  line-height: 1.6rem;
}

:root {
  --primary-bg-start: #F5F7FA;
  --primary-bg-end: #B8C6DB;
  --secondary-bg-start: #cfe3ef;
  --secondary-bg-end: #F5F7FA;
  --shadow-color: #B8C6DB;
}
